__pycache__
*.csv
*.xlsx
*.pyc
*.txt
*.pyo
.env
.git
*.tar
# Ignorer les dossiers Git
.git
.gitignore

# Ignorer les données de test et fichiers temporaires
tests/
tmp/
app/
public/
.vscode/
downloads/
uploads/


!requirements.txt
!res_partner.xlsx
!product_template.xlsx