__pycache__/
*.csv
*.xlsx
*.pyc
*.txt
*.pyo
.git
.github
*.tar
# Ignorer les dossiers Git
.git
.gitignore

# Ignorer les données de test et fichiers temporaires
tmp/
app/odoo/
app/
public/
.vscode/
downloads/
uploads/


!static/requirements.txt